# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# Docker
postgres_data/
